header #showcase-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  background: #222; }

main #projects .outer-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 1rem; }
  main #projects .outer-container .container {
    max-width: 1500px;
    display: flex;
    grid-gap: 2rem; }
    main #projects .outer-container .container .project {
      width: 33.3%; }
    main #projects .outer-container .container #project-1 img {
      width: 100%; }
